<div class="container"
  fxLayout="row"
  fxLayout.sm="column"
  fxLayout.xs="column"
  fxLayoutAlign.gt-md="space-around center"
  fxLayoutGap="10px" 
  fxLayoutGap.xs="0">
  
  <div fxFlex="40" *ngIf="dish" [@visibility] = "visibility" [@expand]>
  
    <md-card>
      <md-card-header>
        <md-card-title>
          <h3>{{dish.name | uppercase }}</h3>
        </md-card-title>
      </md-card-header>
      <img md-card-image src = "{{BaseURL + dish.image}}" alt={{dish.name}}>
      <md-card-content>
        <p>{{dish.description}}</p>
      </md-card-content>
      <md-card-actions>
        <button md-button [routerLink]="['/dishdetail',prev]">
        <span class="fa fa-chevron-left fa-lg"></span></button>
        <button md-button (click)="goBack()">BACK</button>
        <button md-button>LIKE</button>
        <button md-button>SHARE</button>
        <span class="flex-spacer"></span>
        <button md-button [routerLink]="['/dishdetail',next]">
        <span class="fa fa-chevron-right fa-lg"></span></button>
      </md-card-actions>
    </md-card>
  </div>
    
    <div fxFlex="40" *ngIf="dish" [@visibility] = "visibility" [@expand]>
        <md-list fxFlex>
            <h3>Comments</h3>
            <md-list-item *ngFor="let comment of dish.comments">
              <h1 md-line>{{ comment.comment }}</h1>
              <p md-line>{{ comment.rating }} Stars</p>
              <p md-line>-- {{ comment.author }} {{ comment.date | date }}</p>
            </md-list-item>
            
            <md-list *ngIf="commentForm.valid">
                <md-list-item>
                  <h1 md-line> {{commentForm.get('comment').value}}  </h1>
                   <p md-line> {{commentForm.get('rating').value}} Stars</p>
                   <p md-line><span>-- {{commentForm.get('author').value}}</span> </p>
                 </md-list-item>
            </md-list>
            <form novalidate [formGroup]="commentForm" (ngSubmit)="onSubmit()">
              <p>
                <md-input-container class="half-width"
                dividerColor="{{(formErrors.author) ? 'warn' : 'primary'}}">
                  <input mdInput formControlName="author" placeholder="Name" type="text" required> 
                  <md-hint>
                    <span [hidden] = "!(formErrors.author)">{{formErrors.author}}</span>
                  </md-hint>
                </md-input-container>
              </p>
              
                
                  <md-slider step="1" min="1" max="5" thumbLabel tickInterval= "1" value="5"
                  formControlName="rating"></md-slider>
                
              
              <p>
                <md-input-container class="full-width" 
                dividerColor="{{(formErrors.comment) ? 'warn' : 'primary'}}">
                  <textarea mdInput formControlName="comment" placeholder="Your Comment" type="text" rows=12 required> 
                  </textarea> 
                  <md-hint>
                    <span [hidden] = "!(formErrors.author)">{{formErrors.comment}}</span>
                  </md-hint>
                </md-input-container>
              </p>  
              <p>
                <button type="submit" md-button class="background-primary text-floral-white" [disabled]="commentForm.invalid">
                  Submit
                </button>
              </p>
            </form>
         
        </md-list>
        
           
        
    
          
          
        
    </div>
    
    

   
    <div [hidden] = "dish || errMess">
      <md-spinner></md-spinner><h4>Loading...Please Wait</h4>
    </div>
    <div *ngIf="errMess">
      <h2>Error</h2>
      <h4>{{errMess}}</h4>
    </div>
  </div>